gradle/
.DS_Store
core/.classpath
core/.project
.idea
.gradle
.vs
.vscode
build
core/.gradle
core/bin
core/build
core/gradle
core/out
core/src/test
Frontend/.gradle
Frontend/.project
Frontend/node_modules
Frontend/package-lock.json
