gradle/
.DS_Store
core/.classpath
core/.project
.idea
.gradle
.vs
.vscode
build
core/.gradle
core/bin
core/build
core/gradle
core/out
core/src/test
web-app/.gradle
web-app/.project
web-app/node_modules
web-app/package-lock.json
